body {
  font-family: "gajraj one", serif;
}

.sorteer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20em;
  margin-bottom: -50px;
  padding-top: 25px;
  position: relative;
  z-index: 100;
}

select {
  background-color: black;
  opacity: 50%;
  color: white;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  padding: 0 0.5em 0 0.5em;
}
option {
  opacity: 50%;
  border-radius: 25%;
}

h1 {
  text-align: center;
  opacity: 50%;
  margin-bottom: -100px;
  font-size: 4em;
  margin-top: 0;
  position: relative; /* position en z-index ander gaat h1 door gradient naar achter*/
  z-index: 100;
}

.persons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  overflow: auto;
  gap: 5px;
}

article {
  display: grid;
  grid-template-areas:
    "foto"
    "naam"
    "nickname";
}

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 600px;
  grid-area: foto;
}

.wrapper {
  position: relative;
  max-height: 600px;
}

.wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent 33%);
}

h2 {
  margin: 0;
  padding-left: 1em;
  grid-area: naam;
}

p {
  padding-left: 1em;
  margin: 0;
}

.residency {
  text-align: right;
}
