body {
    font-family: 'gajraj one', serif;

}

.persons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    overflow: auto;
}

article{
    display: grid;
    grid-template-areas: 
    "foto"
    "naam"
    "nickname";
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 600px;
    grid-area: foto;
}

h1 {
    text-align: center;
    opacity: 50%;
    margin-bottom: -100px;
    font-size: 4em;
    margin-top: 0;
}

h2 {
    grid-area: naam;
}